body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(214,222,31,1) 35%, rgba(198,255,0,1) 100%);
    color: #c9641c;
    margin-left: 8%;
    margin-right: 8%;
}

a{
    color: hsl(25, 76%, 31%);
    text-shadow: 4px 4px 4px rgba(149, 150, 150, 1);
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: left;
    box-shadow: 10px 10px 14px 3px rgba(0,0,0,0.55);
    -webkit-box-shadow: 10px 10px 14px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 14px 3px rgba(0,0,0,0.55);
}

th{
    border: 1px rgb(95, 92, 92) solid;
    
}

.jobbra{
    width: 150px;
    text-align: center;
}

@media (max-width: 650px){
    h1{
        font-size: 30px;
    }
}

@media (max-width: 500px){
    h1{
        font-size: 30px;
    }
}

#fejlecresz{
    background-image: url(../Images/paprikahatter.png);
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    padding-top: 20px;
    color: rgb(0, 128, 0);
    text-shadow: 4px 4px 4px rgba(149, 150, 150, 1);
}

#zoldhatter{
    background-color: #8f4444;
}
#sargahatter{
    background-color: rgba(255, 255, 0, 1);
}
#piroshatter{
    background-color: hsl(91, 86%, 57%);
}
#lilahatter{
    background-color: #3F0071;
}

li{
    list-style: url(../Images/chili-pepper-icon.gif);
    border: blue 1px solid;
    width: 250px;
    margin: 20px;
    background-color: #f9ff77;
    
}

#menu{
    float: right;
  }
#fokeret{
    float: left;
}
@media (max-width: 768px){
    #menutoggle{
        opacity: 0;
    }

#menutoggle:checked + .menu_btn > span {
    transform: rotate(45deg);
  }
  #menutoggle:checked + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menutoggle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menutoggle:checked ~ .menubox {
    left: 0 !important;
  }
  .menubtn {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
  .menubtn > span,
  .menubtn > span::before,
  .menubtn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
    transition-duration: .25s;
  }
  .menubtn > span::before {
    content: '';
    top: -8px;
  }
  .menubtn > span::after {
    content: '';
    top: 8px;
  }
  .menubox {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 20px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: rgb(252, 231, 117);
    box-shadow: 5px 5px 5px;
    transition-duration: .25s;
    
  }
  .menuitem {
    
    display: block;
    padding: 15px 20px;
    color: black;
    font-size: 15px;
    font-weight: 100px;
    text-decoration: none;
    transition-duration: .25s;
    
  }
  .menuitem:hover {
    background-color: beige;
    text-decoration: none;
  }

  li{
    list-style: none;
    width: 150px;
    background-color: #ffecce;
    border: white 1px;
    color: black;
    
  }

}


